.header {
  height: 60px;
  padding: 0 24px;
  background: #ffffff;
  border-bottom: 1px solid #ddd;

  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-shrink: 0; /* không bị co */
}

.header-title {
  font-size: 18px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-logout {
  padding: 6px 12px;
  cursor: pointer;
}
